inferencePipeline/models/
inferencePipeline/chroma_db/
resources/
*.xlsx
demo/
models-gguf/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# Project ignores
TaskDescription.md
results/
